.main-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
--tw-bg-opacity: 1;
background-color: rgba(245, 158, 11, var(--tw-bg-opacity));
}

.content-wrap{
    flex: 1 0 auto;
}